@include font('Intro-reg', '/assets/fonts/Intro','normal', 'normal');
@include font('Intro-head-b','/assets/fonts/IntroHeadB-Base','normal', 'normal');
@include font('Intro-head-r','/assets/fonts/IntroHeadR-Base','normal', 'normal');
@include font('Din-reg','/assets/fonts/DINPro-Regular','normal', 'normal');
@include font('Din-med','/assets/fonts/DINPro-Medium','500', 'normal');
@include font('Din-bold','/assets/fonts/DINPro-Bold','bold', 'normal');
@include font('Life-hack','/assets/fonts/Lifehack-Regular','normal', 'normal');
body{
    font-family: "Intro-head-r";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
}
h1, h2, h3, h4, h5, h6{
    font-family: "intro-reg";
}
a, button{
    font-family: "Intro-reg";
}
p{
    font-family: "Intro-head-b";
}
input::placeholder{
	font-family: "Intro-head-b";
}
input{
	 font: 18px/100% Intro-head-b;
}