.cm-s-mandrill.CodeMirror { background: #231f20; color: #f1f1f2; } /**/
.cm-s-mandrill .CodeMirror-selected { background: #444446 !important; } /**/

.cm-s-mandrill .CodeMirror-gutters { background: #231f20; border-right: 1px solid #444446; }
.cm-s-mandrill .CodeMirror-linenumber { color: #A09E9E; }
.cm-s-mandrill .CodeMirror-cursor { border-left: 1px solid white !important; }

.cm-s-mandrill .cm-keyword {  color: #A11C2C; } /**/
.cm-s-mandrill .cm-atom { color: #FC0; }
.cm-s-mandrill .cm-number { color:  #FEC55A; } /**/
.cm-s-mandrill .cm-def { color: #8DA6CE; }
.cm-s-mandrill span.cm-variable-2, .cm-s-mandrill span.cm-tag, .cm-s-mandrill span.cm-qualifier { color: #3BB9E6; } /**/
.cm-s-mandrill span.cm-variable-3, .cm-s-mandrill span.cm-def { color: #3BB9E6; } /**/
.cm-s-mandrill .cm-operator { color: #cda869; } /**/
.cm-s-mandrill .cm-comment { color:#A09E9E; font-style:italic; font-weight:normal; } /**/
.cm-s-mandrill .cm-string { color:#FEC55A; font-style:italic; } /**/
.cm-s-mandrill .cm-string-2 { color:#FEC55A } /*?*/
.cm-s-mandrill .cm-meta { background-color:#141414; color:#f7f7f7; } /*?*/
.cm-s-mandrill .cm-builtin { color: #3BB9E6; } /*?*/
.cm-s-mandrill .cm-tag { color: #997643; } /**/
.cm-s-mandrill .cm-attribute { color: #008DC1; } /*?*/
.cm-s-mandrill .cm-property { color: #F9A23F; }
.cm-s-mandrill .cm-header { color: #FF6400; }
.cm-s-mandrill .cm-hr { color: #AEAEAE; }
.cm-s-mandrill .cm-link {   color:#ad9361; font-style:italic; text-decoration:none; } /**/
.cm-s-mandrill .cm-error { color: #D81F3E; }