<div id="carousel" class="carousel slide">
		
		<div class="carousel-inner">
			
			<!-- ........................ CAROUSEL IMAGES ...................  -->
				
				<!-- .................... IMAGE-1 ............................ -->
					<div class="carousel-item active carousel__image">
						<img src="/assets/banners/banner1.jpeg" alt="FirstImage" class="carousel__image">	
						<div class="carousel-caption">
							<h1 class="carousel__text">SPRING HAS ARRIVED!</h1>
						</div>
					</div>

				<!-- .................... IMAGE-2 ........................... -->
					<div class="carousel-item carousel__image">
						<img src="/assets/banners/banner2.jpeg" alt="SecondImage" class="carousel__image">
						<div class="carousel-caption">
							<h1 class="carousel__text">WE BELIEVE IN PROPER PIZZA</h1>
						</div>
					</div>
			
				<!-- .................... IMAGE-3 ........................... -->
					<div class="carousel-item carousel__image">
						<img src="/assets/banners/banner3.jpeg" alt="ThirdImage" class="carousel__image">
						<div class="carousel-caption">
							<h1 class="carousel__text">PIZZA, MADE FOR SHARING.</h1>
						</div>
					</div>
				<!-- ........................................................ -->

				<div class="carousel__inner--content d-flex flex-row">
					<div class="input">
						<input type="text" placeholder="Enter Postal code to find a nearby store" />
					</div>
					
					<div class="button">
						<button class="button">Order Now</button>
					</div>
				</div>

		</div>
		
		<!-- ...................  CAROUSEL PREVIOUS BUTTON ...............................-->
			<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
		<!--  ............................................................................ -->

		<!-- ......................... CAROUSEL NEXT BUTTON .............................. -->
			<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		<!-- .............................................................................. -->
	</div>