.contact_us {

    .bg_image {
    	background-size: cover;
    	height: 645px;

    	@include size(extra_large){
    		background-image: $contact_us_bg;
    	}
    	@include size(large){
    		background-image: $contact_us_bg_tabs;
    	}
    	@include size(medium){
    		background-image: $contact_us_bg_tab;
    	}
    	@include size(small){
    		background-image: $contact_us_bg_mobile;
    	}

        .contactus_form {
            margin-top: 60px;
            padding: 25px 20px 20px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 2px 2px 20px 0 rgba(0,0,0,0.05);
            background-color: rgba(255,255,255,0.6);
            
            @include size(max_575){
                max-width: 290px;
            }
            @include size(min_576){
                width: 345px;
            }
            @include size(min_768){
                width: 650px;

                .m-l-5{
                    margin-left: 5px;
                }
                .m-r-5{
                    margin-right: 5px;
                }
            }
            .captcha_container {
                display: flex; 
                overflow-x: auto;
            }
            input{
                margin-right: 10px;
                @include text-field($white, 1px solid $gray, $black, 3px, 100%);
                @include input-placeholder {
                    color: $light-black;
                }
            }
        }
    }
}
.contactus_banner {
    padding-bottom: 50px;
    .banner {
        box-shadow: 2px 2px 20px 0 rgba(0,0,0,0.05);
        padding: 25px;
        background-color: rgba(255,255,255,0.6);
        width: 100%;

        p {
            margin-bottom: 0px;
        }
        .heading {
            color: #aebc46;
        }
        margin-bottom: 50px;
    }
    @include size(min_768){
        .m-r-15-b {
            margin-right: 15px;
        }
        .m-l-15-b {
            margin-left: 15px;
        }
    }
}