.button
{
	background-color: $green;
	border-radius: 3px;
	width: $px-150;
	height: $px-50;
	padding: 4px 20px;
	text-transform: uppercase;
}
.btn_submit {
    padding-left: 60px;
    padding-right: 60px;
    background-color: #aebc46;
    height: 50px;
    border-radius: 3px;
}

@include size(small){
	.w-sm-100 {
		width: 100%;
	}
}