/*** Transition ***/

@mixin transition($transition...){
	-moz-transition:  	$transition;
	-o-transition:    	$transition;
	-webkit-transition: $transition;
		transition: $transition;
}

@mixin font($font-family, $font-url, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url($font-url + '.eot');
    src: url($font-url + '.eot?#iefix') format('embedded-opentype'),
         url($font-url + '.woff') format('woff'),
         url($font-url + '.ttf') format('truetype'),
         url($font-url + '.svg#aller') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

/*** Text Shadow ***/
@mixin text-shadow($x1: 2px, $y1: 2px, $blur1: 10px, $color1: $black, $x2: null, $y1: null, $blur2: null, $color2: null){
	@if($x2){
		text-shadow: $x1 $y1 $blur1 $color1, $x2 $y2 $blur2 $color2;
	}
	@else{
		text-shadow: $x1 $y1 $blur1 $color1;
	}
}

//Border Radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
//Box Shadow 
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}


//Text-field
@mixin text-field($background-color, $border:null, $color:null, $border-radius:null) {
  display: inline-block;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  background-color: $background-color;
  border: $border;
  color: $color;
  @include border-radius($border-radius);
  @include box-shadow(2px, 2px, 20px, rgba($black, $background-opacity));
  @include transition(all linear 0.3s);
}