/*** Transition ***/

@mixin transition($transition...){
	-moz-transition:  	$transition;
	-o-transition:    	$transition;
	-webkit-transition: $transition;
		transition: $transition;
}

@mixin transition-property($property...){
	-moz-transition-property: 	 $property;
	-o-transition-property: 	 $property;
	-webkit-transition-property: $property;
		transition-property: 	 $property;
}

@mixin transition-duration($duration...){
	-moz-transition-duration: 	 $duration;
	-o-transition-duration: 	 $duration;
	-webkit-transition-duration: $duration;
			transition-duration: $duration;
}

@mixin transition-timing-function($timing...){
	-moz-transition-timing-function: 	 $timing;
	-o-transition-timing-function: 	     $timing;
	-webkit-transition-timing-function:  $timing;
			transition-timing-function:  $timing;
}

@mixin transition-delay($delay...){
	-moz-transition-delay: 	  $delay;
	-o-transition-delay: 	  $delay;
	-webkit-transition-delay: $delay;
			transition-delay: $delay;
}


/*** Transform ***/

@mixin transform($transforms){
	-webkit-transform: $transforms;
	-o-transform: 	   $transforms;
	-webkit-transform: $transforms;
	-ms-transform:     $transforms;
		transforms:    $transforms;
}

//Rotate

@mixin rotate($deg){
	@include transform(rotate(#{$deg}deg));
}

//Scale

@mixin scale($scale){
	@include transform(scale($scale));
}

//Translate

@mixin translate($x, $y){
	@include transform(translate($x, $y));
}

//Translate 3d
@mixin translate3d($x, $y, $z){
	@include transform(translate3d($x, $y, $z));
}

//Skew
@mixin skew($x, $y){
	@include transform(skew(#{$x}deg, #{$y}deg));
}

//Transform Origin

@mixin transform-origin($origin){
	-webkit-transform-origin: $origin;
	-moz-transform-origin:    $origin;
	-ms-transform-origin:     $origin;
		transform-origin:     $origin;
}

@mixin font($font-family, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url(base/Intro.eot);
    src: url(base/Intro.eot?#iefix) format('embedded-opentype'),
         url(base/Intro.woff) format('woff'),
         url(base/Intro.ttf) format('truetype'),
         url(base/Intro.svg#aller) format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}




