/*** Transition ***/

@mixin transition($transition...){
	-moz-transition:  	$transition;
	-o-transition:    	$transition;
	-webkit-transition: $transition;
		transition: $transition;
}

@mixin font($font-family, $font-url, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url($font-url + '.eot');
    src: url($font-url + '.eot?#iefix') format('embedded-opentype'),
         url($font-url + '.woff') format('woff'),
         url($font-url + '.ttf') format('truetype'),
         url($font-url + '.svg#aller') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

/*** Text Shadow ***/
@mixin text-shadow($x1: 2px, $y1: 2px, $blur1: 10px, $color1: $black, $x2: null, $y1: null, $blur2: null, $color2: null){
	@if($x2){
		text-shadow: $x1 $y1 $blur1 $color1, $x2 $y2 $blur2 $color2;
	}
	@else{
		text-shadow: $x1 $y1 $blur1 $color1;
	}
}

//Border Radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
//Box Shadow 
@mixin box-shadow($left: 0px, $top:0px, $blur:0px, $color:$black, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $left $top $blur $color;
    -moz-box-shadow:inset $left $top $blur $color;
    box-shadow:inset $left $top $blur $color;
  } @else {
    -webkit-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    box-shadow: $left $top $blur $color;
  }
}


//Text-field
@mixin text-field($background-color, $border:null, $color:null, $border-radius:null, $width:100%) {
  display: inline-block;
  outline: none;
  width: $width;
  height: 50px;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  background-color: $background-color;
  border: $border;
  color: $color;
  @include border-radius($border-radius);
  @include transition(all linear 0.3s);
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}


@mixin button($color: $brand-primary, $text_color: $black, $width: null, $height: null, $types...) {
	@if($width == 160 and $height == 50){
	  	width: $width;
	  	height: $height;
	  	line-height: 3.2rem;
  	}
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  @include border-radius(3px);
  border: 1px solid $brand-primary;
  color: $text_color !important;
  background: $color;
  @include transition(all linear 0.3s);

  &:hover {
    text-decoration: none;
    background: saturate($color, 10%);
  }

  &:active {
    
    color: saturate($color, 15%);
  }

}

//media Queries
@mixin size($size) {
	@if $size == small {
		@media #{$small} { @content; }
	} @else if $size == medium {
		@media #{$medium} { @content; }
	} @else if $size == large {
		@media #{$large} { @content; }
	} @else if $size == extra_large {
		@media #{$extra_large} { @content; }
	} @else if $size == min_576 {
		@media #{$min_576} { @content; }
	} @else if $size == min_576_max_767 {
		@media #{$min_576_max_767} { @content; }
	} @else if $size == min_768{
		@media #{$min_768} { @content; }
	} @else if $size == max_575 {
		@media #{$max_575} { @content; }
	}
}