/*** Colors ***/
$white:  #fff !default;
$black:  #111618 !default;
$light-black: rgba($black, .55);
$background-opacity: 0.9;

/*** Create grayscale ***/
$gray-dark: #f4f4f2 !default;
$gray: #d6d6d6 !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;

$green: #aebc46;
$brand-primary: $green;
$link-color: $white;
$body-bg: $gray-dark;

/**** Font Sizes ***/

$font-size: 16px !default;

/*******************/

$show-header-bg:true;
$header-bg: url('/assets/bg/header140.png');


/************	CONTACT	US   *************/
$contact_us_bg: url('/assets/bg/contactus.png');
$contact_us_bg_mobile: url('/assets/bg/contactus_mobile.png');
$contact_us_bg_tabs: url('/assets/bg/contactus_Ipad_1024.png');
$contact_us_bg_tab: url('/assets/bg/contactus_Ipad_768.png');


/*SCREEN SIZE */
$extra_large: "(min-width: 1200px)";
$large: "(max-width: 1199px) and (min-width: 1024px)";
$medium: "(max-width: 1023px) and (min-width: 768px)";
$min_768: "(min-width: 768px)";
$small: "(max-width: 767px)";
$min_576_max_767: "(min-width: 576px) and (max-width: 767)";
$min_576: "(min-width: 576px)";
$max_575: "(max-width: 575px)";

/**************			*************/









