<div class="location">
	<div class="sub_header">
		
	</div>
	<div class="container">
		<div class="location_items d-md-flex">
			<div class="store_list m-r-10">
				<div class="store_list_delivery">
					<div class="d-md-flex  align-items-center">
						<div>
							<span>DELIVERY TYPE</span>
						</div>
						<div class="d-inline-flex">
							<input type="radio" name="delivery_type" value="delivery" />Delivery
							<input type="radio" name="delivery_type" value="collection" />Collection
						</div>
					</div>
				</div>
				<div class="store_list_search">
					<div class="d-flex justify-content-center" >
						<div class="d-inline-flex ">
							<input type="text" placeholder="Email Address" class="m-b-10" />
							<button class="button-green flex-sm-grow-1 w-sm-100">Subscribe</button>
						</div>
					</div>
				</div>
				<div class="detail">
					
				</div>
			</div>
			<div class="map_container d-none d-md-block ">
				
			</div>
		</div>
	</div>

</div>