<footer class="footer">
	
	<!-- .......... FIRST FOOTER ................ -->
		<div class="footer__primary first-footer">

			<div class="first-footer__header heading">
				<h2>friends with frizza</h2>
			</div>
				
			<div class="first-footer__sub-header subheading">
				<h6>Hear about our food, openings and offers. We'll fill your stomach, not your inbox.</h6>
			</div>
			
			<div class="first-footer__subscribe-section">
				<input placeholder="Email Address" />
				<button>Subscribe</button>
			</div>
		</div>
	<!-- ......................................... -->

	<!-- SECOND FOOTER -->
		<div>
			<div>
				<ul>
					<li>Our Story</li>
					<li>Corporates</li>
					<li>Locations</li>
					<li>Careers</li>
					<li>ContactUs</li>
					<li>Terms & Conditions</li>
					<li>Privacy Policy</li>
				</ul>
			</div>
		</div>
	<!-- ........... -->

</footer>
