<header class="header">
	
	<nav class="navbars">
		<a href="" class="navbar_home">Home</a>
		<a href="" class="navbar__lacation">Location</a>
		<a href="" class="navbar__corporates">Corporates</a>
		<a href="" class="navbar__name">Name</a>
		<a href="" class="navbar__slices">Slices</a>
		<a href="" class="navbar__cart">Cart</a>
	</nav>
	
</header>