$sidebar-height: 40vh;
$sidebar-width: 70px;
.sidebar__imageSection
{
	height:$sidebar-height;	
	background-image: linear-gradient(to right bottom,#7851a5,#b04db7);
	clip-path: circle(50% at 30% 30%);
	padding: 20% 0px 0px 12%;
}
@if($sidebar-width < 100){
.sidebar__userimage
{
	width:$sidebar-width;
	border-radius:50%;
	margin-left: 12% ;
}
}
.sidebar-list
{
	list-style-type: none;	
}


.sublist
{
	list-style-type: none;
	position: relative;
	background-color: orange;
	display: none;
	width: 12vw;
	text-align: center;
	padding: 16px 32px;
}

.list-item__name_smv
{
	list-style-type: none;
	position: absolute;
	background-color: orange;
	display: none;
	width: 12vw;
	text-align: center;
	padding: 16px 32px;
}
