@import 'scss/abstracts/variables';
@import 'scss/abstracts/functions';
@import 'scss/abstracts/mixins';

@import 'scss/vendors/bootstrap';
@import 'scss/vendors/font-awesome';

@import 'scss/base/typography';

@import 'scss/layout/navigation';
@import 'scss/layout/grid';
@import 'scss/layout/header';
@import 'scss/layout/footer';
@import 'scss/layout/forms';

@import 'scss/components/buttons';
@import 'scss/components/carousel';
@import 'scss/components/slider';
@import 'scss/components/input_fields';


@import 'scss/pages/home';
@import 'scss/pages/about';
@import 'scss/pages/contact';
@import 'scss/pages/common';
@import 'scss/pages/location';

@import 'scss/themes/theme';
