<footer class="footer">
	<!-- .......... FIRST FOOTER ................ -->
		<div class="footer__subscribe">
			<div class="text-center">
				<div class="w-sm-60 text-center">
					<h4 class="m-b-10">
						FRIENDS WITH FIREZZA
					</h4>
					<p class="m-b-15">
						Hear about our food, openings and offers. We'll fill your stomach, not your inbox.
					</p>
				</div>
				<div class="d-flex justify-content-center" >
					<div class="d-md-flex m-w-600">
						<input type="text" placeholder="Email Address" class="m-b-10" />
						<button class="button-green flex-sm-grow-1 w-sm-100">Subscribe</button>
					</div>
				</div>
			</div>
		</div>	<!-- ......................................... -->

	<!-- SECOND FOOTER -->
		<div class="footer__links text-center">
			<div class="footer--logo">
				<a href="/">
					<img src="/assets/logo/logo-footer.png">
				</a>
			</div>
			<ul>
				<li><a href="/">Our Story</a></li>
				<li><a href="/">Corporates</a></li>
				<li><a href="/">Locations</a></li>
				<li><a href="/">Careers</a></li>
				<li><a href="/">ContactUs</a></li>
				<li><a href="/">Terms & Conditions</a></li>
				<li><a href="/">Privacy Policy</a></li>
			</ul>
			<div class="footer--sociallinks">
				<ul>
					<li><a href="/"><i class="fa fa-facebook"></i></a></li>
					<li><a href="/"><i class="fa fa-twitter"></i></a></li>
					<li><a href="/"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
		</div>
	<!-- ........... -->

</footer>
