<nav id="header-bg" class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#"><img src="/assets/logo/white_logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav d-flex align-items-center">
      <li class="nav-item">
        <a href="/">Home</a>
      </li>
      <li class="nav-item">
        <a href="/">Locations</a>
      </li>
      <li class="nav-item">
        <a href="/">Offers</a>
      </li>
      <li class="nav-item">
        <a href="/">Corporates</a>
      </li>
      <li class="nav-item">
        <a href="/" class="button-green">Login</a>
      </li>
      <li class="nav-item">
        <a class="cart-icon" href="/"><img src="/assets/icons/cart.png"></a>
      </li>   
    </ul>
  </div>  
</nav>