.navbar{
	background-color: $black;
	
	&-brand{
		color: $brand-primary;
		font-size: $font-size*1.5;

		&:hover{
			color: $brand-primary;
		}
		img{
			max-width: 124px;
			margin-top: -10px;
		}
	}
	li{
		margin: 0px 10px;
	}
	li a{
		color: $white;
		position:relative;

		&:after{
		  content: '';
		  display: block;
		  margin: auto;
		  height: 2px;
		  width: 0px;
		  background: transparent;
		  @include transition(width .5s linear, background .5s linear);
		
		}
		&:hover:after{
			width: 100%;
			background: $white;
		}
		&.cart-icon:hover:before,
		&.cart-icon:hover:after{
			opacity: 0;
		}
		&.cart-icon img{
			max-width: 38px;
		}
		&.btn-success{
			background-color : $brand-primary;
			color: $black;
			border-color: $brand-primary;
			padding: 13px 54px;
			@include border-radius(3px);
			
			&::after{
				display: none;
			}
		}
	}

	@if $show-header-bg{
        &#header-bg{
            background: $header-bg;
            position: fixed;
		    z-index: 999;
		    width: 100%;
		    height: 116px;
		    padding: 0 30px;
		    background-repeat: repeat-x;
    		background-size: 1200px;
		    transition: height linear .3s;
        }
    }
}

